<table>
  <tr>
    <th><%= form.label :name, "名称" %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :description, "詳細" %></th>
    <td><%= form.text_field :description %></td>
  </tr>
</table>