<%= link_to "収入科目一覧に戻る", incomes_path %>
<h2>収入科目登録</h2>
  <%= form_with model: @income, method: :post, local: true do |form| %>
  <%= render "incomes/form", form: form %>
<div><%= form.submit "登録する" %></div>
<% end %>
